/*1er Chart = Weight */
.user-weight {
    width: 830px;
    height: 320px;
}
.user-weight .recharts-wrapper{
    background-color: #FBFBFB;
    border-radius: 5px;
}
.tooltip-weight{
    background-color: #FF0000;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}
.legend-weight {
    display: flex;
    justify-content: space-between;
}
.legend-weight ul{
    display: flex;
    justify-content: space-between;
}
.legend-weight-list {
    list-style-type: disc;
    margin-left: 48px;
    margin-right: 10px;
}
.legend-weight h3 {
    padding-left: 10px;
    font-weight: 500;
    font-size: 16px;
}

/* 2eme chart = Objectif per day */
.user-objectif {
    width: 260px;
    height: 260px;
    margin: 30px 30px 90px 0;
}

.user-objectif .recharts-wrapper {
    background-color: #FF0000;
    color: white;
    border-radius: 5px;
}

.user-objectif ul.recharts-default-legend {
    display: none;
}

.tooltip-objectifs{
    background-color: white;
    width: 75px;
    color: black;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    padding: 12px;
    align-items: center;
}
.tooltip-objectifs h3{
    color: black;
    font-size: 15px;
    margin-bottom: 10px;
}
.user-objectif h3 {
    position: absolute;
    z-index: 10;
    font-size: 16px;
    color: white;
    font-weight: 300;
    width: 150px;
    margin-left: 5px;
    margin-top: 5px;
}

/*3eme chart = Radar */
.user-radar {
    margin: 30px 30px 90px 0;
    background-color: #282D30;
    border-radius: 5px;
}
.user-score h3 {
    padding-left: 25px;
    position: absolute;
    padding-top: 25px;
    font-size: 16px;
    font-weight: 500;
    color: #20253A;
}

/*4eme chart = ScorePie */
.user-score {
    background-color: #FBFBFB;
    width: 260px;
    height: 260px;
    margin-top: 30px;
    border-radius: 5px;
}
